/* Import Google Font - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
body{
    background-color:  hsl(240, 75%, 98%);
}
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway:wght@400;700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .logo {
  cursor: pointer;
  padding-top: 2rem;
  margin-left: 2rem;
}
header .logo img {
  width: 50%;
}
header nav ul {
  list-style: none;
  padding-top: 2rem;
}
header nav ul li {
  display: inline;
  margin-right: 3rem;
}
header nav ul li a {
  color: hsl(238, 22%, 44%);
  text-decoration: none;
  position: relative;
}
header nav ul li a::after {
  content: '';
  width: 0%;
  height: 0.2rem;
  background-color: #9874e0;
  position: absolute;
  border-radius: 1rem;
  bottom: -0.3rem;
  left: 50%;
  transition: 0.4s;
}
header nav ul li a:hover::after {
  width: 100%;
  left: 0;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}




.wrapper {
    margin: 50px auto; /* Змінено margin на auto по боках для центрування */
    max-width: 800px; /* Додано максимальну ширину для центрування та обмеження розміру */
    display: grid;
    gap: 25px;
    grid-template-columns: repeat(3, minmax(265px, 1fr)); /* Змінено auto-fill на auto-fit, щоб елементи flex підлаштовувались до розміру контейнера */
    justify-content: center; /* Центрування по горизонталі */
  }
  
  .note {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 250px;
    border-radius: 10px;
    padding: 15px 20px 20px;
    background: #fff;
    box-shadow: 0 4px 8px rgba(0,0,0,0.05);
    width: 100%; /* Змінено ширину елемента на 100% */
    cursor: pointer; /* Додано курсор для покращення інтерактивності */
    position: relative; /* Додано для зміщення підшару анімації */
    overflow: hidden; /* Додано, щоб обрізати перевищення анімації */
  }
  
  .note:before {
    content: '';
    background: linear-gradient(45deg,rgb(197, 194, 249),rgb(202, 151, 241),rgb(119, 113, 238));
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(25px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity 0.8s ease-in-out;
    border-radius: 10px;
  }
  
  .note:hover:before {
    opacity: 1;
  }
  .note-icon {
    transform: translateY(-50%);
    filter: hue-rotate(60deg);
    transition: transform 0.3s ease-in-out;
}

.plus-icon {
    position: absolute;
    top: 90px; /* Змінено top, щоб розмістити іконку між header та notes */
    right: 300px; /* Змінено right, щоб розмістити іконку праворуч */
    z-index: 2; 
    transform: translateY(-50%);
    filter: hue-rotate(60deg);
    transition: transform 0.3s ease-in-out;/* Підвищено змінну z-index, щоб зробити іконку видимою над блоками з нотатками */
  }
  
  .plus-icon img {
    width: 35px;
    height: 35px;
  }


.plus-icon:hover {
    transform: scale(1);
}
  @keyframes glowing {
    0% { background-position: 0 0; }
    20% { background-position: 400% 0; }
    100% { background-position: 0 0; }
  }
  
  
  .note:hover {
    transform: scale(1.05); /* Збільшення масштабу при наведенні */
  }
  
  .note-icon {
    transform: translateY(-50%);
    filter: hue-rotate(60deg);
    transition: transform 0.3s ease-in-out;
}

.note-icon:hover {
    transform: scale(0.4);
    transform: rotate(180deg)
}

.note .details {
  max-height: 165px;
  overflow-y: auto;
}

.note p {
  font-size: 22px;
  font-weight: 500;
}

.note span {
  display: block;
  color: #575757;
  font-size: 16px;
  margin-top: 5px;
}

.bottom-content span {
  color: #6D6D6D;
  font-size: 14px;
}

/* Перші стилі залишаються тими ж */

/* Медіа-запит для смартфонів */
@media only screen and (max-width: 1024px) {
    .wrapper {
      grid-template-columns: 1fr; /* Одна колонка для смартфонів */
      gap: 15px;
      margin-left: 15px;
      margin-right: 15px; /* Зменшуємо проміжок між нотатками */
    }
  
    .note {
      height: auto; /* Автоматична висота для кращої адаптації */
    }
  
    .plus-icon {
        
        right: 30px; /* Позиція зправа */
      }
    
      .plus-icon img {
        width: 30px;
        height: 30px;
      }
  }
